@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

p {
  text-align: justify;
}

a img {
	border: none;
}
a{
    color: white;
}
a:hover {
	color: darkred;
	font-weight: 500;
	font-size: large;
	text-decoration: none;
}

.page {
	width: 100%;
}

/* Header Page */
.header {
	background-color: lightpink;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header img {
	width: 200px;
	height: 60px;
}

.header-menu {
	width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Footer Page */
.footer {
	padding: 15px 0;
	background-color: lightpink;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-menu {
	width: 40%;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-infor {
    margin-bottom: 10px;
}

@media screen and (max-width: 992px){
  .footer-menu {
    flex-direction: column;
    height: 135px;
    width: 20%;
  }
}

/* style banner */
.banner {
  background: url(images/background/background.png);
  background-position: center;
  background-repeat: space;
}

.slideshow {
  overflow: hidden;
  width: 59%;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.slide-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
  transition: all 0.5s ease;
}

.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-btn{
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-btn i{
  color: #333;
  font-size: 32px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 1%;
}

.slideshow:hover i{
  opacity: 1;
}

.slide-wrapper div:nth-child(2) img{
  transform: translateX(100%);
}
.slide-wrapper div:nth-child(3) img{
  transform: translateX(200%);
}

/* introduce section */

.introduce p {
  width: 70%;
  margin: 20px auto;
  color: #333;
}

.info-store-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px auto;
}
.info-store-wrapper span {
  width: 42%;
  text-align: justify;
  color: #333;
}
.info-store-wrapper img {
  width: 578px;
  height: 385px;
}

.coreValue-wrapper {
  background-color: rgb(252, 203, 210);
  margin: 30px 0;
}
.coreValue-wrapper h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  color: grey;
}
.coreValue-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
}
.coreValue-content p {
  width: 30%;
  margin-bottom: 20px;
  color: #4d4f50;
}
.coreValue-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px auto;
}
.coreValue-item .coreValue {
  width: 30%;
  height: 50px;
  font-size: 18px;
  text-align: center;
  margin: 0 30px;
  color: grey;
}
.coreValue-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 20px auto;
}
.coreValue-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  padding: 35px;
}
.coreValue-icon i {
  color: crimson;
}